@media screen and (max-width: 1024px) {
  .other-pages-tittle i {
    font-size: 4vw;
    margin-left: 2vw;
  }
}

@media (max-width: 860px) {
  .other-pages-tittle {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .other-pages-tittle i {
    font-size: 4vw;
    margin-left: 2vw;
  }
}
