@media (max-width: 860px) {
    .fileview-wrapper {
        width: 100%;
        margin-left: 0px;
        margin: 0 auto;
	    row-gap: 3vw;
    }

    .wrapper-courses .first-word {
        font-size: 5vw;
        margin: 0 auto;
        text-align: center;
    }
}


